.popup__field-text {
  margin-bottom: 30px;
  padding: 0;
  box-sizing: border-box;
  width: 358px;
  height: 27px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__field-text:nth-child(4) {
  margin-bottom: 48px;
}

.popup__field-text::placeholder {
  color: #000000;
}

.popup__field-text:focus {
  outline-style: none;
}

@media screen and (max-width: 500px) {
  .popup__field-text {
    max-width: calc(100% - 44px);
  }

  .popup__field-text:nth-child(4) {
    margin-bottom: 45px;
  }
}
