.popup__input-error {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* В фигме указан 15px, но фактический размер области = 12px, а не 15px */
  color: #FF0000;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s linear;
  box-sizing: border-box;
}
